@import "./theme.css";
/* google font import geist mono  */
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* Base */
@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: var(--color-bg);
    color: var(--color-text-primary);
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  .container2 {
    @apply w-full max-w-[900px] mx-auto px-4;
  }
}
