[data-theme="light"] {
  --color-gray-900: #ddd;

  --color-bg: #f3f1f1;
  --color-bg-muted: #f9fafb;
  --color-bg-inverse: #000;

  --color-text: #000;
  --color-text-muted: #000;
  --color-text-inverse: #fff;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-foreground: #ffffff;

  --color-border: #e5e7eb;
  --color-border-strong: #d1d5db;
}

[data-theme="dark"] {
  --color-gray-900: #0f0f0f;

  --color-bg: #0f0f0f;
  --color-bg-muted: #f9fafb;
  --color-bg-inverse: #f9fafb;

  --color-text: #fafafa;
  --color-text-muted: #d4d4d8;
  --color-text-inverse: #0f172a;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-foreground: #ffffff;

  --color-secondary: #9333ea;
  --color-secondary-hover: #7e22ce;

  --color-border: #e5e7eb;
  --color-border-strong: #d1d5db;
}
