@theme {
  /* Color Tokens */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  /* Backgrounds */
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-bg-muted: var(--color-bg-muted);
  --color-bg-hover: var(--color-bg-hover);

  /* Text */
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);
  --color-text-reverse: var(--color-text-reverse);

  /* Border */
  --color-border: var(--color-border);
}

/* 🌞 Light Theme (default) */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-accent: #f59e0b;

  /* Backgrounds */
  --color-bg: #f9fafb;
  --color-surface: #eceaea;
  --color-bg-muted: #f3f4f6;
  --color-bg-hover: #e5e7eb;
  --color-overlay: rgba(0, 0, 0, 0.4);

  /* Text */
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-muted: #9ca3af;

  /* Border */
  --color-border: #bbbbbb79;
}

/* 🌚 Dark Theme */
[data-theme="dark"] {
  --color-primary: #2563eb;
  --color-secondary: #4338ca;
  --color-accent: #fbbf24;

  /* Backgrounds */
  --color-bg: #0f0f0f;
  --color-bg-surface: #fafafa;
  --color-bg-muted: #374151;
  --color-bg-hover: #4b5563;

  /* Text */
  --color-text-primary: #fafafa;
  --color-text-secondary: #d4d4d8;
  --color-text-muted: #0f0f0f;
  --color-text-reverse: #0f0f0f;

  /* Border */
  --color-border: #535353a8;
}

/* OLD  */
/* [data-theme="light"] {
  --color-gray-900: #ddd;

  --color-bg: #f3f1f1;
  --color-bg-muted: #f9fafb;
  --color-bg-inverse: #000;

  --color-text: #000;
  --color-text-muted: #000;
  --color-text-inverse: #fff;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-foreground: #ffffff;

  --color-border: #e5e7eb;
  --color-border-strong: #d1d5db;
}

[data-theme="dark"] {
  --color-gray-900: #0f0f0f;

  --color-bg: #0f0f0f;
  --color-bg-muted: #f9fafb;
  --color-bg-inverse: #f9fafb;

  --color-text: #fafafa;
  --color-text-muted: #d4d4d8;
  --color-text-inverse: #0f172a;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-foreground: #ffffff;

  --color-secondary: #9333ea;
  --color-secondary-hover: #7e22ce;

  --color-border: #e5e7eb;
  --color-border-strong: #d1d5db;
} */
